html.cssremunit {
    margin-top: 0 !important;
    #wpadminbar {
        display: none !Important;
    }
}

html {
    font-size: 12px;
    @include media-breakpoint-up(sm) {
        font-size: 13px;
    }
    @include media-breakpoint-up(md) {
        font-size: 14px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }
}

body {
    &.home .fp-tableCell,
    &.single .site-inner {
        @include media-breakpoint-up(sm) {
            border: 2em solid $white;
        }
        @include media-breakpoint-up(md) {
            border-width: 3em;
        }
        @include media-breakpoint-up(lg) {
            border-width: 4em;
        }
    }
}

.site-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .site-content {
        position: relative;
        background: $light-gray;
        width: 100%;
        height: 100%;
    }
}

img {
    &.lazyload {
        opacity: 0;
    }
    &.lazyloading {
        opacity: 1;
        transition: 300ms opacity;
        min-height: 60px;
    }
}

.fill {
    min-height: 100%;
    height: 100%;
}
