    nav {
        position: fixed;
        // position: relative;
        z-index: 5;
        left: 0;
        right: 0;
        display: flex !important;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(sm) {
            height: 2em;
        }
        @include media-breakpoint-up(md) {
            height: 3em;
        }
        @include media-breakpoint-up(lg) {
            height: 4em;
        }
        ul {
            @extend .list-unstyled;
            margin: 0;
            // position: fixed;
            li {
                display: inline-block;
                &:not(:last-child):after {
                    content: "/";
                }
                // @extend .flex-center;
                // @include media-breakpoint-up(sm) {
                //     position: fixed;
                //     &:first-child {
                //         left: 0;
                //         top: 0;
                //         bottom: 0;
                //         width: 2em;
                //         a {
                //         	transform: rotate(-90deg);
                //         	width: 200%;
                //         	position: absolute;
                //         }
                //     }
                //     &:nth-child(2) {
                //         top: 0;
                //     }
                //     &:last-child {
                //         bottom: 0;
                //     }
                //     &:nth-child(2),
                //     &:last-child {
                //         left: 0;
                //         right: 0;
                //         height: 2em;
                //     }
                // }
                // @include media-breakpoint-up(md) {
                //     &:first-child {
                //         width: 3em;
                //     }
                //     &:nth-child(2),
                //     &:last-child {
                //         height: 3em;
                //     }
                // }
                // @include media-breakpoint-up(lg) {
                //     &:first-child {
                //         width: 4em;
                //     }
                //     &:nth-child(2),
                //     &:last-child {
                //         height: 4em;
                //     }
                // }
                a {
                    text-decoration: none !important;
                    text-transform: uppercase;
                    color: $black !important;
                    transition: 0.25s ease-in-out;
                    font-weight: bold;
                    padding: 0 1em;
                    &:hover {
                        color: $black;
                        opacity: 0.1;
                    }
                }
                &.active {
                    a {
                        opacity: 0.1;
                    }
                }
            }
        }
    }
