@mixin animation($duration: 1s, $iteration: 1) {
    animation-duration: $duration;
    animation-fill-mode: both;
    animation-iteration-count: $iteration;
}

// flash
@mixin flash($duration: 1s, $iteration: 1) {
    animation-name: flash;
    @include animation($duration, $iteration);
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.flash {
    @include flash();
}

// fadeIn
@mixin fadeIn($duration: 1s, $iteration: 1) {
    animation-name: fadeIn;
    @include animation($duration, $iteration);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    @include fadeIn();
}

// fadeInUp
@mixin fadeInUp($duration: 1s, $iteration: 1) {
    animation-name: fadeInUp;
    @include animation($duration, $iteration);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    @include fadeInUp();
}

// fadeInDown
@mixin fadeInDown($duration: 1s, $iteration: 1) {
    animation-name: fadeInDown;
    @include animation($duration, $iteration);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    @include fadeInDown();
}

// fadeOutUpBig
@mixin fadeOutUpBig($duration: 1s, $iteration: 1) {
    animation-name: fadeOutUpBig;
    @include animation($duration, $iteration);
}

@keyframes fadeOutUpBig {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-2000px);
    }
}

.fadeOutUpBig {
    @include fadeOutUpBig();
}

// fadeInDown
@mixin fadeInDown($duration: 1s, $iteration: 1) {
    animation-name: fadeInDown;
    @include animation($duration, $iteration);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    @include fadeInDown();
}

@mixin underline_ltr($height: 3px, $color: $white, $duration: 2s) {
    display: inline-block;
    &:after {
        content: '';
        display: block;
        height: $height;
        width: 0;
        background: transparent;
        transition: all $duration ease-in-out;
    }
    &:hover {
        &:after {
            width: 100%;
            background: $color;
        }
    }
}

// fadeInDownBig
@mixin fadeInDownBig($duration: 1s, $iteration: 1) {
    animation-name: fadeInDownBig;
    @include animation($duration, $iteration);
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDownBig {
    @include fadeInDownBig();
}

// fadeInLeftBig
@mixin fadeInLeftBig($duration: 1s, $iteration: 1) {
    animation-name: fadeInLeftBig;
    @include animation($duration, $iteration);
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(0);
    }
}

.fadeInLeftBig {
    @include fadeInLeftBig();
}

// fadeInLeftBig
@mixin fadeInRightBig($duration: 1s, $iteration: 1) {
    animation-name: fadeInRightBig;
    @include animation($duration, $iteration);
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    100% {
        transform: translateX(0);
    }
}

.fadeInRightBig {
    @include fadeInRightBig();
}

@mixin underline_ltr($height: 3px, $color: $white, $duration: 2s) {
    display: inline-block;
    &:after {
        content: '';
        display: block;
        height: $height;
        width: 0;
        background: transparent;
        transition: all $duration ease-in-out;
    }
    &:hover {
        &:after {
            width: 100%;
            background: $color;
        }
    }
}

// slideOutUp
@mixin slideOutUp($duration: 1s, $iteration: 1) {
    animation-name: slideOutUp;
    @include animation($duration, $iteration);
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-2000px);
    }
}


// slideInDown
@mixin slideInDown($duration: 1s, $iteration: 1) {
    animation-name: slideInDown;
    @include animation($duration, $iteration);
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    100% {
        transform: translateY(0);
    }
}

.slideInDown {
    @include slideInDown();
}

// slideOutUp
@mixin slideOutUp($duration: 1s, $iteration: 1) {
    animation-name: slideOutUp;
    @include animation($duration, $iteration);
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-2000px);
    }
}

.slideOutUp {
    @include slideOutUp();
}

// bounceFade
@mixin bounceFade($duration: 0.7s, $iteration: infinite) {
    animation-name: bounceFade;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    @include animation($duration, $iteration);
}

@keyframes bounceFade {
    0% {
        -webkit-transform: translateY(-0.3em);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(0.2em);
        opacity: 0.9;
    }
}

.bounceFade {
    @include bounceFade();
}

// leftBounceFade
@mixin leftBounceFade($duration: 0.7s, $iteration: infinite) {
    animation-name: leftBounceFade;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    @include animation($duration, $iteration);
}

@keyframes leftBounceFade {
    0% {
        -webkit-transform: translateX(0.3em);
        opacity: 0.4
    }
    100% {
        -webkit-transform: translateX(-0.2em);
        opacity: 0.9
    }
}

.leftBounceFade {
    @include leftBounceFade();
}

// rightBounceFade
@mixin rightBounceFade($duration: 0.7s, $iteration: infinite) {
    animation-name: rightBounceFade;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    @include animation($duration, $iteration);
}

@keyframes rightBounceFade {
    0% {
        -webkit-transform: translateX(-0.3em);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateX(0.2em);
        opacity: 0.9;
    }
}

.rightBounceFade {
    @include rightBounceFade();
}

@mixin promote-layer($properties: transform) {
    -webkit-transform: translateZ(0); // translateZ hack
    will-change: $properties; // spec
}

//cycleHue 
@mixin cycleHue($duration: 1s, $iteration: 1) {
    animation-name: cycleHue;
    @include animation($duration, $iteration);
}

@keyframes cycleHue {
    from {
        filter: hue-rotate(0deg)
    }
    to {
        filter: hue-rotate(1080deg)
    }
}
