@mixin btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none !important;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.25s;
    text-transform: uppercase;
    line-height: 1;
}

@mixin primary-btn($font-size: 1rem, $padding-tb: 0.5em, $padding-lr: 0.75em, $color: $dark-gray, $bgColor: transparent) {
    @include btn;
    background: $bgColor;
    border: 0.25em solid $color;
    font-size: $font-size;
    font-weight: 700;
    color: $color;
    padding: $padding-tb $padding-lr;
    &:hover {
        background: invert($bgColor);
        color: invert($color);
        border-color: invert($color);
    }
}

.primary-btn {
    @include primary-btn();  
}

@mixin secondary-btn($font-size: 1rem, $padding-tb: 0.25em, $padding-lr: 0.5em, $color: $black, $hoverColor: $white , $bgColor: transparent, $bgHoverColor: $black) {
    @include btn;
    border: 1px solid $color;
    font-weight: 300;
    color: $color;
    background: $bgColor;
    font-size: $font-size;
    padding: $padding-tb $padding-lr;
    &:hover {
        background: $bgHoverColor;
        color: $hoverColor;
    }
}

.secondary-btn {
    @include secondary-btn();  
}