// Generate the extra small columns
@mixin make-xs-col($size) {
    @include make-col-ready();
    @include make-col($size);
}

@mixin make-xs-col-offset($size) {
    @include media-breakpoint-down(xs) {
        @include make-col-offset($size);
    }
}

// Generate the small columns
@mixin make-sm-col($size) {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col($size);
    }
}

@mixin make-sm-col-offset($size) {
    @include media-breakpoint-up(sm) {
        @include make-col-offset($size);
    }
}

// Generate the medium columns
@mixin make-md-col($size) {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
        @include make-col($size);
    }
}

@mixin make-md-col-offset($size) {
    @include media-breakpoint-up(md) {
        @include make-col-offset($size);
    }
}

// Generate the large columns
@mixin make-lg-col($size) {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
        @include make-col($size);
    }
}

@mixin make-lg-col-offset($size) {
    @include media-breakpoint-up(lg) {
        @include make-col-offset($size);
    }
}

// Generate the extra large columns
@mixin make-xl-col($size) {
    @include make-col-ready();
    @include media-breakpoint-up(xl) {
        @include make-col($size);
    }
}

@mixin make-xl-col-offset($size) {
    @include media-breakpoint-up(xl) {
        @include make-col-offset($size);
    }
}
