// -- Colors

$white: #fff;
$black: #000;
$gray: #878787;
$light-gray: #ddd;
$dark-gray: #6a6a6a;

$primary: $white !default;

// -- Typography

$font-family-sans-serif:     Arial, Helvetica, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$headings-font-family:       $font-family-serif !default;
